@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background-color: #fafafa;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li{
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: black;
}

.nav-logo {
  font-size: 24px;
}

.cards-wrapper {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card {
  width: 264px;
  /* height: 336px; */
  margin: 2rem;
  background-color: white;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.country-card img{
  width: 264px;
  height: 160px;
  border-radius: 20px 20px 0 0;
}

.card-text {
  margin: 2rem;
  margin-bottom: 3rem;
}
.card-text span{
  font-weight: bold;
}
.card-text p{
  margin: 10px;
}