@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: #fafafa;
}
/* nav {
  padding-right: 2rem;
  padding-left: 2rem;
} */

nav {
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 1rem 2rem;
    top: -17px;
    left: -55px;
    background-color: white;
    position: relative;
    z-index: 10;
}


nav ul {
  display: flex;
  justify-content: space-between;
}
.nav-pages-links-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-pages-links-wrapper li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  color: black;
}

.nav-logo {
  font-size: 24px;
}

.cards-wrapper {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card {
  width: 364px;
  /* height: 336px; */
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.country-card img {
  width: 364px;
  height: 260px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px lightgrey;
}

.card-text {
  margin: 2rem;
  margin-bottom: 3rem;
}
.card-text span {
  font-weight: bold;
}
.card-text p {
  margin: 10px;
}
.card-text h3 {
  font-size: 26px;
  font-weight: 800;
}

@media (max-width: 480px) {
  /* Styles for small mobile screens go here */
  .country-card {
    margin: 2rem 0rem;
  }
  .nav-logo {
    font-size: 18px;
  }
  nav {
    /* padding: 0rem; */
  }
  nav ul {
    padding: 0px;
  }
  nav {
    /* box-shadow: 0 0px 8px rgba(0, 0, 0, 0.08); */
    padding-bottom: 1rem;
    width: 100%;
    left: -32px;
  }
}


/* SAVED COUNTRIES PAGE */
.form-container {
  max-width: 500px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
}

.form-container h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 100%;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  width: 120px;
  padding: 0.7rem 1rem;
  background-color: #7c5fe6;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b4fd0;
}
