@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: #fafafa;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  color: black;
}

/* nav {
  padding-right: 2rem;
  padding-left: 2rem;
} */

nav {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 1rem 2rem;
  top: -17px;
  left: -55px;
  background-color: white;
  position: relative;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
.nav-pages-links-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.nav-pages-links-wrapper li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  color: black;
}

.nav-logo {
  font-size: 24px;
}

.region-dropdown {
  padding: 0.75em 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: white;
  appearance: none;
  cursor: pointer;
  text-align: center;
}

.region-dropdown:focus {
  outline: none;
  border-color: #517aa1;
}

.region-filter-wrapper {
  margin-bottom: 1em;
  position: relative;
  text-align: end;
  margin-right: 7rem;
}

.search-filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.search-filter-wrapper form {
  width: 300px;
}

.cards-wrapper {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card {
  width: 364px;
  /* height: 336px; */
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding-bottom: 1rem;
}

.country-card * {
  text-decoration: none !important;
  color: inherit !important;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.country-card img {
  width: 364px;
  height: 260px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px lightgrey;
}

.card-text {
  margin: 2rem;
  margin-bottom: 3rem;
  text-decoration: none;
}
.card-text span {
  font-weight: bold;
}
.card-text p {
  margin: 10px;
}
.card-text h3 {
  font-size: 26px;
  font-weight: 800;
}

@media (max-width: 480px) {
  /* Styles for small mobile screens go here */
  .country-card {
    margin: 2rem 0rem;
  }
  .nav-logo {
    font-size: 18px;
  }
  nav {
    /* padding: 0rem; */
  }
  nav ul {
    padding: 0px;
  }
  nav {
    /* box-shadow: 0 0px 8px rgba(0, 0, 0, 0.08); */
    padding-bottom: 1rem;
    width: 100%;
    left: -32px;
  }
}

/* SAVED COUNTRIES PAGE */
.form-container {
  max-width: 500px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
}

.form-container h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 100%;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  width: 120px;
  padding: 0.7rem 1rem;
  background-color: #7c5fe6;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b4fd0;
}

/* COUNTRY DETAILS PAGE */

.country-detail-wrapper {
  display: flex;
  width: 63%;
  margin: 5rem auto;
}

.country-detail-wrapper img {
  width: 560px;
  border-radius: 10px;
}

.country-detail-wrapper .text-content {
  padding: 4rem;
}

.country-detail-wrapper button {
  background-color: white;
  border: 1px solid grey;
  color: grey;
}

.details-image-btn-wrapper {
  display: flex;
  flex-direction: column;
}

.details-image-btn-wrapper a {
  width: 66px;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}
